/* ----------------------------- */
/*  Utility clasess for Images   */
/* ----------------------------- */

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), 
    rgba(0, 0, 0, 0.5)), url("../assets/site-images/rail-lapse.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: var(--light-color);
  }
  

  @media screen and (max-width: 1000px) {
    img { margin: auto; }
  }