/* ----------------- */
/* custom properties */
/* ----------------- */

:root {
  /* colors */
  --brand-color: #4E1A70;
  --brand-2-color: #2B4CF2;
  --dark-color:#0e1011;  
  --mid-color:#CBD5E1;
  --light-color:#F8FAFC;
  
  --horz-grade: linear-gradient(to right, rgb(78, 26, 112) , rgb(43, 76, 242));
  --mix-grade: linear-gradient(to bottom right, rgb(78, 26, 112) , rgb(43, 76, 242));
  --white-pad: linear-gradient(to bottom right, white , white);

  /* font-sizes- use vw in order to fit responsiveness */
  --fs-900: 9.1rem;
  --fs-800: 6.25rem;
  --fs-700: 3.5rem;
  --fs-650: 2.5rem;
  --fs-600: 2rem;
  --fs-500: 1.75rem;
  --fs-400: 1.125rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;   
}

.text-gradient {
  background: var(--horz-grade);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-dark {
  color: var(--dark-color);
}
.text-light {
  color: var(--light-color);
}
.text-mid {
  color: var(--mid-color);
}
.text-brand {
  color: var(--brand-color);
}

.bg-dark {
  background-color: var(--dark-color);
}
.bg-light {
  background-color: var(--light-color);
}
.bg-mid {
  background-color: var(--mid-color);
}
.bg-brand {
  background-color: var(--brand-color);
}
.bg-clear {
  background-color: transparent;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
figure picture {
  margin: 0;
}

h1{
  font-size: var(--fs-900);
}
h2{
  font-size: var(--fs-800);
}
h3{
  font-size: var(--fs-700);
}
h4{
  font-size: var(--fs-650);
}
h5{
  font-size: var(--fs-600);
}
h6{
  font-size: var(--fs-500);
}
p{
  font-size: var(--fs-400);
}

.padding-class{
  padding: 60px 90px;
}
@media screen and (max-width: 1000px) {
  .padding-class{
    padding: 20px 20px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* set up the body */
body {
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  font-size: var(--fs-400);
  background-color: var(--light-color);
  color: var(--dark-color);
  text-decoration: none;
  line-height: 1.5;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
  Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
  "Lato", "Poppins";
}

/* makes images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
  height: auto;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}
