/* ----------------------------- */
/*  Utility clasess for Sections */
/* ----------------------------- */

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1350px;
}

.dark-container{
  margin-left: auto;
  margin-right: auto;
  background-color: var(--dark-color);
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0px 20px;
  /* border: 2px solid var(--dark-color); */
}

.column-66 {
  float: left;
  width: 50%;
  padding: 20px;
  /* border: 2px solid green; */
}

.column-33 {
  float: left;
  width: 50%;
  padding: 20px;
  /* border: 2px solid blueviolet; */
}

.button {
  color: var(--brand-color);
  padding: 14px 28px;
  cursor: pointer;
}

.button:hover{
  transform: scale(1.04);

}


.round-button {
  background-color: var(--brand-color);
  padding: 14px 28px;
  cursor: pointer;
  border-radius: 40px;
  width: fit-content;
  margin: 20px;
  color: var(--light-color);
}

.round-button:hover{
  border: 2px solid var(--brand-color);
  background-color: var(--dark-color);
}

/* Float columns side by side */
.column {
  float: left;
  width: 100%;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 20px 40px 20px 40px;
  padding: 20px;
  background-color: var(--light-color);
  object-fit: contain;
  content: "";
  display: table;
  clear: both;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

/* Responsive columns */
@media screen and (max-width: 576px) {
  .column {width: 100%; display: block;}
  .row {margin: 0px 5px;}
}

@media screen and (max-width: 1000px) {
  .column-66,
  .column-33 {width: 100%;}
  img { margin: auto; }
  .card{margin: 20px;
        height: 400px;}
}



