/* ----------------------------- */
/*  Utility clasess for Sections */
/* ----------------------------- */

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1150px;
  padding: 20px 0px;
}

.dark-container{
  margin-left: auto;
  margin-right: auto;
  background-color: var(--dark-color);
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.quarter-column {
  float: left;
  width: 25%;
}

.half-column {
  float: left;
  width: 50%;
  padding: 20px;
}

.three-q-column{
  float: left;
  width: 75%;
}

.column {
  float: left;
  width: 100%;
}

.central-title{
  font-size: var(--fs-500);
  color: var(--dark-color);
  text-align: center;
  float: left;
  width: 100%;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  margin: 10px;
  padding: 10px;
  background-color: var(--light-color);
  object-fit: contain;
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 676px) {
  .column {width: 100%; display: block;}
  .quarter-column {width: 50%; display: block;}
  .card{font-size: var(--fs-200);}
  .text{display: hidden;}
}

@media screen and (max-width: 1000px) {
  .half-column {width: 100%;}
  .card{margin: 20px; height: fit-content;}
  .three-q-column{width: 100%; display: block; padding: 0 20px;}
}



